body {
    font-family: Arial; 
    color:darkslategray;
    background-size: cover;
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-12/1639734570_224-catherineasquithgallery-com-p-fon-dlya-shapki-kanala-rozovii-389.jpg);
}

div {
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;
}
div:hover {
    background-color:white;
}

a:link {
    color:dodgerblue;
}
a:hover {
    color:deepskyblue;
}
a:visited {
    color:slateblue;
}
a:active {
    color:gold;
}

h1 {
    text-align: center;
}

img {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
