#train {
    width: 100px;
    transform: translate(800px, 100px)
}

#train:hover {
    animation-duration: 3s;
    animation-name: go;
}

@keyframes go {
    0% {
        transform: translate(800px, 100px) scale(100%)
    }
    90% {
        transform: translate(100px, 100px) scale(300%)
    }
    100% {
        transform: translate(800px, 100px) scale(100%)
    }
}