div {
    height: 280px;
    border: 2px solid black
}

img {
    width: 100px;
}

#train {
    transform: translate(800px, 100px)
}

#train:hover {
    animation-duration: 3s;
    animation-name: go;
}

@keyframes go {
    0% {
        transform: translate(800px, 100px) scale(100%)
    }
    90% {
        transform: translate(100px, 100px) scale(250%)
    }
    100% {
        transform: translate(800px, 100px) scale(100%)
    }
}

