.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.header-menu {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
}

.cards-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-networks {
    display: flex;
    justify-content: flex-end;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}
